/* Styles for the customer form container */
.customer-form {
  align-items: center;
  background: #f1f3f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 580px;
  padding: 40px 30px 60px 0;
  width: 580px;
}

/* Styles for text input fields in the form */
.customer-form-input {
  border: 0 solid #f1f3f4;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 12px 20px;
  width: 100%;
}

/* Styles for labels in the form */
.customer-form-label {
  margin: 10px 0;
  padding: 0 10px;
}

/* Styles for text input labels */
.customer-form-input-text {
  font-size: 14px;
  margin: 10px 0;
}

/* Styles for the bill input section */
.customer-form-bill-input {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

/* Styles for custom input fields */
.customer-form-custom-input {
  background: #fff;
  border: 0 solid #f1f3f4;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 5px 16px;
}

/* Styles for small input fields */
.customer-form-small-input {
  border: 0 solid #f1f3f4;
  border-radius: 7px;
  height: 24px;
  margin: 0 4px;
  padding: 0 6px;
  width: 36px;
}

/* Styles for the bill slider section */
.customer-form-slider {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0;
  width: 100%;
}

/* Styles for the input slider */
.slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 5px;
  height: 40px;
  max-width: 140px;
  min-width: 140px;
  outline: none;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

/* Styles for the slider track (filled color) */
.slider::-webkit-slider-runnable-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 15px;
  margin-right: 6px;
}

/* Styles for the slider thumb (draggable handle) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0071bc;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  position: relative;
  top: calc(50% - 11px);
  transition: background-color 0.3s ease;
  width: 22px;
  z-index: 1;
}

/* Styles for the slider thumb on hover */
.slider:hover::-webkit-slider-thumb {
  background-color: #004f8c;
}

/* Firefox specific styles for the slider */
.slider::-moz-range-thumb {
  background-color: #0071bc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.slider::-moz-range-track {
  background-color: #ccc;
  border-radius: 5px;
}

/* Styles for radio buttons */
.customer-form-radio-btn-container {
  display: flex;
  flex-direction: row;
}

.customer-form-radio {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 20px;
  margin-right: 5px;
  position: relative;
  top: 14px;
  transform: translateY(-50%);
  transition: border-color 0.3s ease;
  width: 20px;
}

/* Styles for radio buttons when checked */
.customer-form-radio:checked::before {
  background-color: #0071bc;
  border-radius: 50%;
  content: '';
  height: 20px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}

/* Styles for small buttons */
.customer-form-small-button {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 0 solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 10px 6px 22px 6px;
  outline: none;
  padding: 3px 8px;
}

.outage-suffix {
  display: inline-block;
  margin-left: 8px;
}

/* Styles for the appliance table */
.appliance-table-container {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  padding-left: 20px;
  width: 100%;
}

.appliance-table {
  border-collapse: collapse;
  margin-bottom: 20px; /* Add any desired margin */
  width: 100%;
}

/* Styles for table headers and cells */
.appliance-table th,
.appliance-table td {
  padding: 8px 12px;
  text-align: left;
}

/* Styles for table headers */
.appliance-table th {
  background-color: #fff;
  font-size: 14px;
  padding-top: 30px;
  text-align: left;
}

/* Center the contents of columns 2 and 3 */
.appliance-table td:nth-child(2),
.appliance-table td:nth-child(3) {
  align-items: center;
  text-align: center;
}

/* Center the headings of columns 2 and 3 */
.appliance-table th:nth-child(2),
.appliance-table th:nth-child(3) {
  align-items: center;
  text-align: center;
}

/* Styles for appliance ownership checkboxes */
.appliance-own {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  height: 20px;
  margin-right: 5px;
  position: relative;
  top: 14px;
  transform: translateY(-50%);
  transition: border-color 0.3s ease;
  width: 20px;
}

/* Styles for appliance ownership checkboxes when checked */
.appliance-own:checked::before {
  background-color: #0071bc;
  border-radius: 50%;
  content: '';
  height: 20px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}

/* Styles for the ToggleSwitch component */
.toggle-cell {
  align-items: center;
  display: flex;
  justify-content: center;
}

.toggle-switch {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 24px;
  position: relative;
  width: 48px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-slider {
  background-color: #ccc;
  border-radius: 26px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.toggle-slider:before {
  background-color: white;
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  transition: transform 0.3s;
  width: 20px;
  bottom: 2px;
}

.toggle-switch input:checked + .toggle-slider {
  background-color: #0071bc;
}

.toggle-switch input:checked + .toggle-slider:before {
  transform: translateX(24px);
}

/* Styles for the submit button */
.customer-form-submit-btn {
  background: #0071bc;
  border: 0 solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  margin: 30px 10px 30px 0px;
  padding: 10px 30px;
}

/* Styles for the submit button on hover */
.customer-form-submit-btn:hover {
  background: #004f8c;
}