/* Energy Calculator Container */
.energy-calculator {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 113, 188, 0.577);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Large Table Styles */
.large-table-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px 5px 0 0;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 10px;
  overflow-y: auto; /* Add vertical scrolling when the content overflows */
}

.large-table {
  width: 100%;
  max-width: 900px;
}

/* Large Own and Not Own Buttons */
.large-own-button,
.large-not-own-button {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 14px;
  transform: translateY(-50%);
  transition: border-color 0.3s ease;
  width: 24px;
}

.large-own-button {
  background-color: #0071bc;
  border: 1px solid #0071bc;
  color: #fff;
  font-size: 14px;
}

.close-btn-container {
  position: relative;
  width: 82%;
  max-width: 900px;
  justify-content: center;
  align-items: end;
  text-align: right;
  margin-right: 0px;
}

.large-table-close-button {
  border: 1px solid #fff;
  border-radius: 5px;
  min-height: 22px;
  margin-top: 30px;
  margin-right: 0px;
  cursor: pointer;
  font-size: 10px;
}

.large-table-close-button:hover {
  background-color: #004f8c;
  border: 1px solid #004f8c;
  color: #fff;
  cursor: pointer;
}

/* Styles for appliance ownership checkboxes */
.appliance-own {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  height: 20px;
  margin-right: 5px;
  position: relative;
  top: 14px;
  transform: translateY(-50%);
  transition: border-color 0.3s ease;
  width: 20px;
}

/* Styles for appliance ownership checkboxes when checked */
.large-own-button:checked::before,
.large-not-own-button:checked::before {
  background-color: #0071bc;
  border-radius: 50%;
  content: '';
  height: 20px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}

.large-summary-button {
  align-self: center;
  background-color: #0071bc;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 10px 30px;
}